/*#### GLOBAL ####*/

html {
    max-width: 1920px;
    min-width: 280px;
    margin: auto;
}

body {
    font-family: 'raleway';
    /*margin-left: 3%;
    margin-right: 3%;*/
    margin: 0px;
}

.logo, .signin, section, .info {
    margin-left: 3%;
    margin-right: 3%;
}

a { 
    text-decoration: none;
}

/*#### HEADER ####*/

.signin a, .heberge a {
    color: #0065FC;
}

.activite a {
    color: black;
}

/* logo */

.logo {
    position: absolute;
    padding-top: 38px;
}

.head, .mobile_head {
    flex-direction: row-reverse;
    display: flex;
}
 .mobile_head{
     width: 20%;
 }

/* buttons */

.signin {
    border: 2px solid white;
    font-weight: bold;
    text-align: center;
    padding-top: 48px;
    margin-left: 60px;
}

.heberge {
    border: 2px solid white;
    text-align: center;  
    padding-top: 48px;
    border-top: 2px solid #0065FC;
    margin-right: 30px;
}

.activite {
    text-align: center;
    border: 2px solid white;
    padding-top: 48px;
    color: black;
    margin-left: 30px;
}

/*#### SEARCH BAR ####*/

.search {
    display: flex;
    flex-direction: column;
    margin-top: 38px;
}

.search p, h1 {
    margin: 0px;
    padding: 0px;
}

.search p {
    margin-top: 9px;
    margin-bottom: 19px;
}

form {
    display: flex;
    width: 420px;
    height: 49px; 
}

#search {
    font-weight: bold;
    width: 234px;
    border-style: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    padding-left: 17px;
}

::placeholder {
    color: black;
    opacity: 1;
}

#button {
    width: 134px;
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    font-weight: bold;
}

.find_logo {
    display: none;
}

#label {
    background-color: #F2F2F2;
    text-align: center;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 15px;
    border-radius: 15px 0px 0px 15px;
}

#search:focus, #button:focus {
    outline: none;
}

#button:focus {
    border: 1px solid #F2F2F2;
    border-radius: 0px 15px 15px 0px;

}

/*#### FILTERS ####*/

.filter {
   /* align-items: center;
    display: flex;
    flex-direction: row;*/
    margin-top: 21px; 
    flex-wrap: wrap;
}

.filtre {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.filter, .filtre {
    display: inline-flex;
}

.eco, .fami, .roman, .pet {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    height: 50px;
    margin-top: 10px;
}

.eco{
    margin-left: 31px;
    width: 194px; 
}

.fami {
    margin-left: 24px;
    width: 152px;
}

.roman {
    margin-left: 24px;
    width: 184px;
}

.pet {
    margin-left: 24px;
    width: 242px;
}

.filter .fas {
    color: #0065FC;
    margin-right: 13px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border: 1px solid #DEEBFF;
    background-color: #DEEBFF;
    box-shadow: 0px 0px 0px 2px  #DEEBFF;
}

.pet:hover, .roman:hover, .fami:hover, .eco:hover {
    background-color: #0065FC;
}

div.pet:hover a, .roman:hover a, .fami:hover a, .eco:hover a {
    color: white;
}

div.pet a, div.roman a, div.fami a, div.eco a{
    font-weight: bold;
    color: black;
}

.info {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
}

.info .fas {
    font-size: 12px;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    color: #0065FC;
    height: 24px;
    width: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/*#### CARDS ####*/

#hebergements {
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    height: 100%;
    width: 70%;
    border-radius: 25px;
    background: #F2F2F2;
}

.card_hebergements {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.all_cards {
    display: inline-flex;
}

.a_can {
    display: flex;
    position: relative;
    height: 190px;
    width: 246px;
    margin-bottom: 53px;
    border: 5px solid white;
    border-radius: 25px;
    box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.75);
    overflow: hidden;
}

.a_can a {
    color: black;
}

.a_can_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.a_can_img {
    width: 100%;
    height: 119px;
    display: flex;
}

.a_can_sub {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    top: 120px;
    left: 0;
    height: 70px;
    width: 100%;
    background-color: white;
    border-radius: 0px 0px 20px 20px;
}

.a_can:hover {
    border: 5px solid #0065FC;
}

.stars {
    flex-direction: row;
    color: #0065FC;
   
}

.empty {
    color: #F2F2F2;
}

.a_can_sub h3, p, .stars {
    margin: 1px;
    padding: 0px;
    margin-left: 11px;
}

.a_can_sub span {
    font-weight: bold;
}

.ca_pop span {
    font-weight: bold;
}

.afficher {
    font-weight: bold;
    color: black;
    margin-top: 7px;
    margin-bottom: 0;
}

.afficher a {
    color: black;
}

/*#### CARDS POP ####*/

.card_populaires {
    padding-top: 20px;
    padding-left: 39px;
    height: 100%;
    width: 30%;
    border-radius: 25px;
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-right: 40px;
    padding-bottom: 40px;
}

.ca_pop {
    display: flex;
    position: relative;
    border: 5px solid white;
    border-radius: 25px;
    box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.75);
    width: 330px;
    height: 134px;
    margin-bottom: 33px;
}

.ca_pop a {
    color: black;
}

.ca_pop:hover {
    border: 5px solid #0065FC;
}

.ca_pop_sub {
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 40%;
    height: 134px;
    width: 60%;
    background-color: white;
}

.ca_pop_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}

.ca_pop_img {
    width: 40%;
    height: 134px;
    display: flex;
}

.all_ca_pop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.stonks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.stonks .fas {
    font-size: 23px;
}

.ca_pop_sub h3, p, .stars {
    margin: 1px;
    margin-right: 0px;
    padding: 0px;
    margin-left: 11px;
}

.ca_pop_sub .stars {
   padding-top: 40px;
}

/*#### ACTIVITE ####*/

#activity {
    width: 100%;
    height: 100%;
}

.card_activite {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.port, .box_double_fort, .calanques, .box_double_nd {
    width: 23%;
}

.box_double_fort, .box_double_nd {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.liens {
    width: 100%;
    color: black;
}

.port_img, .fort_img, .frioul_img, .calanques_img, .notre-dame_img, .parc_img {
    height: 100%;
   
}


.port, .calanques {
    height: 446px;
}

.fort {
    height: 237px;
}

.frioul {
    height: 166px;
}

.parc {
    height: 209px;
}

.notre-dame {
    height: 196px;
}

.port, .fort, .frioul, .calanques, .notre-dame, .parc {
    overflow: hidden;
    position: relative;
    display: flex;
    border-radius: 25px;
    box-shadow: 0px 0px 20px -6px rgba(0,0,0,0.75);
}

.notre-dame_img img, .parc_img img, .port_img img, .calanques_img img, .frioul_img img, .fort_img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.port:hover::before, .fort:hover::before, .frioul:hover::before, .calanques:hover::before, .notre-dame:hover::before, .parc:hover::before {
    content: '';
    border: 5px solid #0065FC;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 25px;
    overflow: hidden;
    z-index: 1;
} 

#activity h3 {
    margin-left: 16px;
}

.port_sub, .calanques_sub, .fort_sub, .frioul_sub, .notre-dame_sub, .parc_sub {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
}

.port_sub, .calanques_sub {
    top: 87%;
}

.fort_sub {
    top: 78%;
}

.frioul_sub {
    top: 67%;
}

.notre-dame_sub, .parc_sub {
    top:72%;
}

/*.port:hover, .fort:hover, .frioul:hover, .calanques:hover, .notre-dame:hover, .parc:hover {
    box-shadow: 0px 0px 0px 5px rgba(0,101,252,1);
    -webkit-box-sizing: border-box;
    outline: 5px solid rgba(0,101,252,1);
}*/

/*#### FOOTER ####*/

footer {
    background-color: #F2F2F2;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    margin-top: 60px;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 35px;
    /*max-width: 100%;*/
}

.about, .nos_hebergements, .assistance {
   width: 33%; 
}

footer li {
    margin-top: 15px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer a {
    color: black;
}

/*#### MEDIA ####*/

/*#### 1720px ####*/

@media (min-width: 1720px) {
    .a_can {
        width: 316px;
    }
}

/*#### +1024px ####*/

@media (min-width: 1025px) {
    .card_populaires {
        margin-left: 40px;
        }
}

/*#### 1080px ####*/

@media (max-width: 1080px) {

    .eco, .fami, .roman, .pet {
        margin-right: 10px;
    }
    
    body {
        margin: 0px;
    }

    section, .info {
        margin: 0px;
    }

    .search, .info, #hebergements h2, .filter h2, .afficher, #activity h2, .stonks {
        margin-left: 3%;
        margin-right: 3%;
    }

    .filtre {
        margin-left: 2%;
    }

    .card_populaires {
        width: 100%;
        margin: 0px;
        padding-left: 0px;
        padding-right: 0px;
        border-radius: 0px;
    }
    #hebergements {
        width: 100%;
        margin: 0px;
        padding-left: 0px;
        padding-right: 0px;
        background-color: transparent;
    }

    .all_cards {
        display: flex;
        flex-direction: column-reverse;
    }

    .card_hebergements {
        justify-content: space-evenly;
    }

    .all_ca_pop {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .port, .box_double_fort, .calanques, .box_double_nd {
        width: 40%;
    }

    .port, .box_double_fort {
        margin-bottom: 22px;
    }

    .card_activite {
        justify-content: space-evenly;
    }

    .a_can, .ca_pop {
        margin-right: 7px;
        margin-left: 7px;
    }
}

/*#### 425px ####*/

@media (max-width: 425px) {

    .a_can, .ca_pop {
        width: 87%;
    }

    #button {
        width: 51px;
        border-radius: 14px;
    }

    .find_logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .find {
        display: none;
    }

    form {
        justify-content: space-between;
        border: 1px solid #F2F2F2;  
        border-radius: 15px;
        width: 100%;
    }

    #search {
        border: none;
        width: 60%;
        padding-left: 0px;
    }

    .eco, .fami, .roman, .pet {
        margin-left: 0px;
    }

    .fami {
        margin-right: 0px;
    }
}

/*#### 333px ####*/

@media (max-width: 333px) {
    .ca_pop_sub .stars {
    padding-top: 0px;
    }

    .ca_pop_sub h3 {
        font-size: 17px;
    }

    .a_can_sub h3 {
        font-size: 17px;
    }

    .activity h3 {
        font-size: 17px;
    }
}

/*#### 812px ####*/

@media (max-width: 812px) {
    .a_can {
        width: 40%;
    }
}

/*#### 541px ####*/

@media (max-width: 541px) {
    .port, .box_double_fort, .calanques, .box_double_nd {
        width: 90%;
    }

    .port, .fort, .frioul, .calanques, .notre-dame, .parc {
        margin-bottom: 22px;
        height: 190px;
    }

    .port_sub, .fort_sub, .frioul_sub, .calanques_sub, .notre-dame_sub, .parc_sub {
        top: 70%;
    }

    .box_double_fort {
        margin: 0px;
    }

    .a_can, .ca_pop {
        width: 87%;
    }

    .heberge {
        border-bottom: 3px solid #0065FC; 
        border-top: none;
        margin-right: 0px;
    }

    .activite {
        border-bottom: 3px solid #F2F2F2; 
        border-top: none;
        margin-left: 0px;
    }

    .head {
        flex-direction: column;
    }

    .signin {
        text-align: end;
        width: 90%;
        margin-left: 3%;
    }

    .mobile_head {
        width: 100%;
    }

    .activite, .heberge {
        width: 50%
    }

}

/*#### 768px ####*/

@media (max-width: 768px) {
    footer {
        flex-direction: column;
    }

    .about, .nos_hebergements {
        margin-bottom: 20px;
    }
    
    .footer div {
        width: 100%;
    }
}